<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>登入系统</title>
	<link rel="stylesheet" href="../stylesheets/main.css">
	<script src="../javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/test.js"></script>
</head>
<body>
<div class="login_page">
	<div class="content-only">
		<input type="text" value="username" id="username">
		<input type="password" id="password">
		<button class="btn" id="btn" >提交程序</button>
	</div>
</div>
	
</body>
</html>